<div class="container mt-5 mb-5">
  <h2>Clients list</h2>
</div>

<div class="container">
  <% @clients.each do |client| %>
    <p>
      <a href="/bookings/<%= client.id %>"><%= client.name %></a>
    </p>
  <% end %>
</div>
