<div class="container mt-5 mb-5">
  <h2>Client page</h2>
</div>

<div class="container mb-5">
  <p><span class="mr-2">Name:</span> <%= @client.name %></p>
  <p><span class="mr-2">Phone:</span> <%= @client.phone %></p>
  <p><span class="mr-2">Visiting date and time:</span> <%= @client.datestamp %></p>
</div>
